{% extends 'base.html' %}
{% load staticfiles %}


{% block main %}
	<div class="container">
		<article itemscope="itemscope">
			<div class="posts-list js-posts">
            {% for post in post_list %}
				<div class="post post-{{ post.pk }} js-gallery" data-aos="fade-up">
					<div class="post-album">
						<div class="row content">
							<div class="bg" style="background-image: url({% static 'Dreamerlixu/images/IMG_0150.jpg' %});"></div>
							<div class="contentext flex-xs-middle">
								<div class="album-title">
									<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
								</div>
								<h5 class="review-item-creator"><b>发布日期：</b>{{ post.created_time }}</h5>
								<div class="album-content">{{ post.excerpt }}</div>
							</div>
							<div class="album-thumb-width flex-xs-middle">
								<div class="row album-thumb no-gutter">
									<div class="col-xs-4"><img class="thumb" src="{% static 'Dreamerlixu/images/IMG_0150-250x250.jpg'%}" /></div>
									<div class="col-xs-4"><img class="thumb" src="{% static 'Dreamerlixu/images/IMG_0149-250x250.jpg'%}" /></div>
									<div class="col-xs-4"><img class="thumb" src="{% static 'Dreamerlixu/images/IMG_0146-250x250.jpg'%}" /></div>
									<div class="col-xs-4"><img class="thumb" src="{% static 'Dreamerlixu/images/IMG_0147-250x250.jpg'%}" /></div>
									<div class="col-xs-4"><img class="thumb" src="{% static 'Dreamerlixu/images/IMG_0148-250x250.jpg'%}" /></div>
									<div class="col-xs-4">
										<a href="">5 pics</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                {% empty %}
                    <div class="no-post">暂时还没有发布的文章！</div>
                {% endfor %}
			</div>
			<!-- post-formats end Infinite Scroll star -->
			<!-- post-formats -->
			<div class="pagination js-pagination">
				<div class="js-next pagination__load">
					<a href=""><i class="iconfont">&#xe605;</i></a>
				</div>
			</div>
			<!-- -pagination  -->
	</div>
{% endblock main %}